.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  left: 0px;
  background-color: #1f2c30;
}
.foooter__logo {
  width: 64px;
  height: 40px;
}
