.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: #1f2c30;
  height: 73px;

  @media (min-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    background-color: #1f2c30;
  }
}
.footer__container__logo {
  width: 64px;
  height: 40px;
  @media (min-width: 1000px) {
    width: 64px;
    height: 40px;
  }
}
